<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%=typeof locals == 'undefined' || typeof locals.title=='undefined' ? 'Ailee Phan - Truyện ngôn tình trong đời sống' : locals.title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ailee Phan - những câu truyện ngắn về ngôn tình hay và hấp dẫn có thực trong cuộc sống của chúng ta - liên tục cập nhật">
    </meta>
    <meta name="keywords" content="truyen ngon tinh, truyen ngan ngon tinh, truyen ngan, ngon tinh">
    </meta>
    <meta property="og:title" content="<%=typeof locals == 'undefined' || typeof locals.title=='undefined' ? 'Ailee Phan - Truyện ngôn tình trong đời sống' : locals.title%>" />
    <meta property="og:description" content="Ailee Phan - những câu truyện ngắn về ngôn tình hay và hấp dẫn có thực trong cuộc sống của chúng ta - liên tục cập nhật" />
    <meta property="og:image" content="http://aileephan/images/ailee.png" />
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/semantic.css">
    <link rel="stylesheet" href="/styles/z-custom.css">
    <!--STYLES END-->
    <link rel="stylesheet" href="/libs/notify/toastr.min.css">
    <script type="text/javascript" src="/libs/require.js" data-main="<%=locals.baseUrlServer%>"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-79859238-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <%- partial ('header.ejs') %>
    <%- body %>
    <%- partial ('footer.ejs') %>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    
    <!--SCRIPTS END-->
    <div id="fb-root"></div>
  </body>
</html>
