<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%=typeof locals == 'undefined' || typeof locals.title=='undefined' ? 'Ailee Phan - Truyện ngôn tình trong đời sống' : locals.title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Truyện Ngắn Ailee Phan - những câu truyện ngôn tình hay và hấp dẫn có thực trong cuộc sống của chúng ta">
    </meta>
    <meta name="keywords" content="truyen ngon tinh, truyen ngan ngon tinh, truyen ngan, ngon tinh">
    </meta>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/semantic.css">
    <link rel="stylesheet" href="/styles/z-custom.css">
    <!--STYLES END-->
  </head>
  <body>
    <%- partial ('header.ejs') %>
    <%- body %>
    <%- partial ('footer.ejs') %>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    
    <!--SCRIPTS END-->
    <div id="fb-root"></div>
  </body>
<script type="text/javascript" src="/libs/require.js" data-main="<%=locals.baseUrlServer%>"></script>
</html>
