<div class="ui container text margin-top-40 margin-bottom-40">
  <div class="ui segment tall stacked">
  <div class="float-right margin-bottom-20">
    <a href="/" title="Về trang chủ"><i class="icon home pink" style="font-size:3em;"></i></a>
  </div>
    <h1 class="ui left  floated header pink font-menu margin-top-20">
      <span class="font-brand">DANH SÁCH TRUYỆN</span>
    </h1>
    <div class="ui clearing divider"></div>
    <div class="ui form">
     <div class="fields inline">
      <div class="field ">
       <div class="ui input">
          <input type="text" placeholder="Tìm..." class="filter-title font-brand" onkeypress="onKeypressSearch(event);" title="Nhập tiêu đề truyện cần tìm"/>
       </div>
      </div>
      <div class="field">
       <div class="ui slider checkbox" title="Truyện hiển thị trên trang chủ">
        <input type="checkbox" name="manage_show" id="manage-show-show"  value="Y" onChange="loadList();" checked="true" />
        <label for="manage-show-show" class="font-brand">Hiển thị</label>
       </div>
      </div>
      <div class="field">
       <div class="ui slider checkbox" title="Truyện không hiển thị trên trang chủ">
        <input type="checkbox" name="manage_hide" id="manage-show-hide" value="Y" onChange="loadList();" checked="true" />
        <label for="manage-show-hide" class="font-brand">Không hiển thị</label>
       </div>
      </div>
     </div>
    </div>
    <div class="ui clearing divider"></div>
    <table class="ui very basic table ">
      <thead>
        <tr>
          <th width="5%">#</th>
          <th colspan="2" width="62%" class="font-brand">Tiêu đề</th>
          <th width="14%" class="font-brand">Hiển thị</th>
          <th class="font-brand">Thao tác</th>
        </tr>
      </thead>
      <tbody>
      <%if(locals &&
        locals.data &&
        locals.data.count!==0){
         locals.data.rows.forEach(function(stories, index){%>
      <tr>
        <td class="font-brand">
          <%=index+1%>
        </td>
        <td colspan="2">
          <h4 class="ui header">
            <div class="content font-header-normal">
              <%=stories.Title%>
            </div>
          </h4>
        </td>
        <td class="center aligned">
          <div class="ui fitted slider checkbox">
           <%if(stories.Show==='Y'){%> <input title="Cập nhật trạng thái truyện" type="checkbox" name="change-status-<%=stories.UID%>" checked="true" value="Y" onChange="onChangeShow('<%=stories.UID%>');" /><%} else {%>
            <input title="Cập nhật trạng thái truyện" type="checkbox" name="change-status-<%=stories.UID%>" value="Y" onChange="onChangeShow('<%=stories.UID%>');" />
            <%}%><label></label>
          </div>
        </td>
        <td>
          <div class="ui buttons tiny icon">
            <a class="ui grey button font-button" onClick="onClickView('<%=stories.UID%>');" title="Xem lại truyện"><i class="icon search"></i>Xem</a>
            <div class="or"></div>
            <a class="ui pink button font-button" onClick="onClickEdit('<%=stories.UID%>');"
            title="Cập nhật truyện"><i class="icon write" ></i>Sửa</a>
          </div>
        </td>
      </tr>
      <%})
    } else {%>
          <tr>
            <td></td>
            <td colspan="2"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2"></td>
            <td></td>
            <td></td>
          </tr>
      <%}%>
      </tbody>
      <tfoot class="full-width">
        <tr>
          <th colspan="6">
            <div class="ui right floated pagination menu small manage-pagination-main <%=locals.data.count==0? 'hide': ''%>">
              <a class="icon item disabled" onClick="paginationManage('prev');"><i class="left chevron icon" title="Trang trước"></i></a>
              <%
              for(var i=1; i<=Math.ceil(locals.data.count/5);i++){
                if(i===4 && 
                  i+1<=Math.ceil(locals.data.count/5)){%>
                <a class="disabled item">
                  ...
                </a>
                <a class="item manage-pagination-<%=Math.ceil(locals.data.count/5)+(Math.ceil(locals.data.count/5)==1?' active': '')%>" onClick="paginationManage(<%=Math.ceil(locals.data.count/5)%>);"><%=Math.ceil(locals.data.count/5)%></a>
                <%} else if(i<=4) {%>
                <a class="item manage-pagination-<%=i+(i==1?' active': '')%>" onClick="paginationManage(<%=i%>);"><%=i%></a>
              <%}}%>
              <a class="icon item <%=(Math.ceil(locals.data.count/5)===1?'disabled':'')%>" onClick="paginationManage('next');" title="Trang sau"><i class="right chevron icon"></i></a>
            </div>
            <div class="manage-total font-brand">Tổng cộng: <%=locals.data.count%> truyện</div>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<!--modal review-->
    <div class="ui long modal" >
    <div class="ui segment">
      <h1 class="ui header pink margin-top-20 margin-bottom-20 text-center">
        <span class="font-header review-title" title="Tiêu đề truyện">
        </span>
      </h1>
      <div class="ui images align-center">
        <img class="review-background ui big centered image max-height-image-view" src="" />
      </div>
      <h4 title="Thời gian sáng tác" class="ui horizontal divider header review-date pink font-ribbon">
          <!--date write stories-->
      </h4>
      <div class="description review-description font-content">
      <!--content stories-->
      </div>
      <div class="ui divider">
      </div>
      <div class="actions align-right">
        <div class="ui pink tiny approve button font-button" title="Trở lại">
          Trở lại
          <i class="right chevron icon"></i>
        </div>
    </div>
    </div>
  </div>
  <!--end-->
<!--confirm change status modal-->
<div class="ui small modal change-status">
    <div class="header font-brand">
      Cập nhật trạng thái
    </div>
    <div class="content font-brand">
      <p>Bạn có chắc muốn cập nhật trạng thái truyện?</p>
      <input type="hidden" class="confirm-change-status" />
    </div>
    <div class="actions">
      <div class="ui grey tiny button font-button" onClick="onClickChangeStatusNo();">
        Không
      </div>
      <div class="ui pink tiny right button font-button" onClick="onClickChangeStatusYes();">
        Có
      </div>
    </div>
  </div>
  <!--end-->
