<div class="ui container text margin-top-40">
    <table class="ui grey table">
  <thead>
    <tr><th>#</th>
    <th>Title</th>
    <th>Status</th>
    <th>Show</th>
    <th>Action</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>
      </td>
      <td>
        <div class="ui small input">
          <input type="text" class="filter-title" placeholder="Tiêu đề..." onChange="loadList();"/>
        </div>
      </td>
      <td>
        <select class="ui dropdown filter-status" onChange="loadList();">
          <option value="">---Select---</option>
          <option value="Pending">Pending</option>
          <option value="Finish">Finish</option>
        </select>
      </td>
      <td>
        <select class="ui dropdown filter-show" onChange="loadList();">
          <option value="">---Select---</option>
          <option value="Y">Yes</option>
          <option value="N">No</option>
        </select>
      </td>
    </tr>
    <%locals.data.rows.forEach(function(stories, index){%>
      <tr>
        <td>
          <%=index+1%>
        </td>
        <td>
          <%=stories.Title%>
        </td>
        <td>
          <%=stories.Status%>
        </td>
        <td>
          <div class="ui checkbox">
            <%if(stories.Show==='Y'){%>
              <input type="checkbox" name="<%=stories.UID%>" checked="true"/>
              <%} else {%>
                <input type="checkbox" name="<%=stories.UID%>"/>
                <%}%>
            <label></label>
          </div>
        </td>
        <td>
          <a class="ui button mini pink">View</a>
          <a class="ui button mini pink">Edit</a>
        </td>
      </tr>
    <%})%>
  </tbody>
</table>
<div class="manage-total">
<span>Total: <%=locals.data.count%></span>
</div>
<%if(locals.data.count!==0) {%>
<div class="ui pagination menu manage-pagination" >
  <a class="icon item" onClick="paginationManage(1);">
    <i class="left arrow icon"></i>
  </a>
  <%for(var i=1; i<=Math.round(locals.data.count/5); i++){%>
    <a class="item" onClick="paginationManage(<%=i%>);">
    <%=i%>
    </a>
  <%}%>
  <a class="icon item" onClick="paginationManage(<%=Math.round(locals.data.count/5)%>);">
    <i class="right arrow icon"></i>
  </a>
</div>
<%}%>
<div>&nbsp;</div>
</div>
<script src="/libs/speakingurl/speakingurl.min.js"></script>