<div class="ui container text margin-top-40">
	<div class="ui piled segments">
		<div class="ui segment">
		<div class="float-right margin-bottom-20">
    		<a href="/" title="Về trang chủ"><i class="icon home pink" style="font-size:3em;"></i></a>
  		</div>
			<h1 class="ui header pink margin-top-60 margin-bottom-20 text-center">
				<span class="font-header">
					<!--title stories-->
					<%=locals.data.Title%>
					<!--end-->
				</span>
				<span class="sub header font-ribbon">
					<%=locals && locals.data && locals.data.AuthorName?locals.data.AuthorName:''%>
				</span>
			</h1>
			<div class="ui images align-center">
			<%if(locals &&
				locals.data &&
				locals.data.FileUploads &&
				locals.data.FileUploads[0]) {%>
			<a class="ui image" title="<%=locals.data.Title%>">
			<img name="<%=locals.data.SpeakingUrl%>" alt="<%=locals.data.Title%>" class="review-background ui big centered image max-height-image-view" src="/download-background/<%=locals.data.FileUploads[0].UID%>" width="100%" height="15%" />
			</a>
			<%}%>
			</div>
			<h4 class="ui horizontal divider pink header review-date font-date">
			  	<!--date write stoties-->
			  	<!--end-->
			</h4>
			<%if(locals &&
			  		locals.data){%>
			  		<input type="hidden" class="view-date-create" value="<%=locals.data.CreatedDate%>" />
			  		<%}%>
			<div class="description review-description font-content">
				<!--description stories-->
				<%-locals.data.Content%>
				<!--end-->
			</div>
		</div>
	</div>
		<div class="ui segment">
		<div class="fb-like-ailee float-right">
			<div class="fb-like" data-href="http://aileephan.com/<%=locals.data.SpeakingUrl%>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		</div>
			<div class="fb-comments"
		     data-href="http://aileephan.com/<%=locals.data.SpeakingUrl%>"
		     data-numposts="5"
		     data-width="100%"
		     data-colorscheme="light">
		     </div>
		</div>
	<br/>
	<br/>
	<br/>
</div>