<div class="ui container text margin-top-20 margin-bottom-40 min-height-768px">
	<div class="ui tall stacked segments home-main" id="border-top">
		<!--count input-->
		<input type="hidden" class="home-count" value="<%=locals.data.count%>" />

		<!--end-->
		<%if(locals &&
			locals.data &&
			locals.data.rows &&
			locals.data.count!==0){
			locals.data.rows.forEach(function(stories, index){%>
			<div class="ui segment">
				<a class="ui pink font-ribbon ribbon large label">Ngôn tình</a>
				<span class="float-right media-time font-ribbon home-date">
				</span>
				<input type="hidden" class="home-date-hidden" value="<%=stories.CreatedDate%>" />
				<div class="ui very relaxed items">
					<div class="item">
					<%if(stories &&
						stories.FileUploads &&
						stories.FileUploads[0]){%>
						<div class="ui small image">
							<a href="/<%=stories.SpeakingUrl%>" class="ui image" title="<%=stories.Title%>">
								<img alt="truyện ngắn ailee phan" class="height-image-home" src="/download-background/<%=stories.FileUploads[0].UID%>" />
							</a>
						</div>
						<%}%>
						<div class="content">
						<%if(stories &&
						stories.Title){%>
								<h1 class="ui pink header">
								  	<div class="content">
								    	<span class="font-header capitalize">
								    	<a href="/<%=stories.SpeakingUrl%>" title="<%=stories.Title%>">
								    	<%=stories.Title%>
								    	</a>
								    	</span>
								    	<span class="sub header font-author">
								    		<%=(stories && stories.AuthorName?stories.AuthorName:'')%>
								    	</span>
								  	</div>
								</h1>
							<%}%>
							<div class="description">
								<p class="font-content">
									<%=stories.ShortContent%>
								</p>
								<a href="/<%=stories.SpeakingUrl%>" 
								class="ui mini pink button font-button" title="<%=stories.Title%>">Chi tiết</a>
							</div>
						</div>
					</div>
				</div>
			</div> 
			<%})
		} else {%>
			<div class="ui segment">
				<h1 class="ui pink header">
					<div class="content">
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
					</div>
				</h1>
			</div>
			<%}%>
		</div>
		<div class="ui centered inline loader home-loader"></div>	
	</div>
</div>
